:root {
        --ic-brand-primary-darkened-5: #671012;
--ic-brand-primary-darkened-10: #620F11;
--ic-brand-primary-darkened-15: #5C0E10;
--ic-brand-primary-lightened-5: #731B1D;
--ic-brand-primary-lightened-10: #7A2729;
--ic-brand-primary-lightened-15: #823335;
--ic-brand-button--primary-bgd-darkened-5: #671012;
--ic-brand-button--primary-bgd-darkened-15: #5C0E10;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #AA1827;
--ic-link-color-lightened-10: #C23040;
--ic-brand-primary: #6c1012;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #bc1a2b;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #bc1a2b;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #711016;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #711016;
--ic-brand-global-nav-avatar-border: #f4a61b;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #bc1a2b;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_77820000000000001/attachments/276/WPI_logo_vertical_white_canvas.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1926675898&Signature=YMCmmdJz%2BUifYwZu8IKx9fWMnsU%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-f2359ad914.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #711016;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_77820000000000001/attachments/174/WPI_Inst_Prim_White_Rev.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1925286406&Signature=lM967XJNitCBUMa3XBthvaS0Wi0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #b41b26;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }